.back{
    background-color: #3F51B5;
    width: 100%;
    
    color: white;
    
    padding-left: 4%;
    padding-top: 20px;
    padding-bottom: 5px;
}

p{
    font-size: small;
    padding-left: 5px;
}
h1{
    font-size: 30px;
}